@model MyPurse.Models.TransactionsViewModel
@{
    ViewBag.Title = "Category sort";
    Layout = null;
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script>
    var CategorySort = function () {
        var Accountdata = $("#CategoryForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Home/ConfirmCategorySort",
            data: Accountdata,
            success: function () {
                window.location.href ='/Home/ConfirmCategorySort';
            }
        })
    }
</script>
<style>
    body {
        font-family: Arial;
    }

    .split {
        height: 100%;
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 5%;
    }

    .left {
        left: 10px;
    }

    .right {
        transition: 0.1s;
        right: 5%;
    }
</style>




<div class="container">
    <div class="split left">
        <div class="container" style="width:70%">
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("Accounts", "Accounts", null, new { @class = "btn btn-block btn-success" })</li>
                <li class="list-group-item">@Html.ActionLink("Transactions", "Transactions", null, new { @class = "btn btn-block btn-success" })</li>
                <li class="list-group-item">@Html.ActionLink("Transactions types", "TS_types", null, new { @class = "btn btn-block btn-success" })</li>
            </ul>
        </div>
        <div class="container" style="width:70%; margin-top:10%">

            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("Add Income", "AddIncome", Model, new { @class = "btn btn-block btn-success" })</li>
                <li class="list-group-item">@Html.ActionLink("Add Outcome", "AddOutcome", Model, new { @class = "btn btn-block btn-success" })</li>
                <li class="list-group-item">@Html.ActionLink("Add Transfer", "AddTransfer", Model, new { @class = "btn btn-block btn-success" })</li>
            </ul>
        </div>
    </div>

    <div class="split right">
        <div class="container split right" style="width:70%">
            <form id="CategoryForm">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.TransactionType, ViewBag.Types as SelectList, "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-primary" onclick="CategorySort()">Submit</a>
                </div>
            </form>
        </div>
        <input type="hidden" id="hiddenAccID" />
        <input type="hidden" id="hiddenAccName" />
        <input type="hidden" id="hiddenAccAmount" />

    </div>
</div>



